          @font-face {
  font-family: "MiFuente"; /* Nombre que le das a tu fuente */
  src: url("fonts/mifuente.ttf") format("woff2"),
       url("fonts/mifuente.ttf") format("woff");
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: "souses"; /* Nombre que le das a tu fuente */
  src: url("fonts/Souses.otf") format("woff2"),
       url("fonts/Souses.otf") format("woff");
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: "CenturyGothic"; /* Nombre que le das a tu fuente */
  src: url("fonts/CenturyGothic.otf") format("woff2"),
       url("fonts/CenturyGothic.otf") format("woff");
       font-weight: 700;
       font-style: normal;
}
      
      body {
      margin: 0;
      padding: 0;
      background: linear-gradient(135deg, #cc0000, #800000);
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .container {
      width: 90%;
      max-width: 400px;
      text-align: center;
    }

    h1 {
      font-family: mifuente;
      font-size: 2rem;
      margin-bottom: 20px;
      color: #ffffff;
    }
        h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      margin-bottom: 20px;
      color: #ffffff;
    }
        p{
          font-family: Souses;
          font-size: 17px;
          margin-bottom: 20px;
          color: #ffffff;
        }
    .link {
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      background: #ffffff;
      color: #ff0000;
      padding: 15px;
      margin: 12px 0;
      border-radius: 10px;
      text-decoration: none;
      font-size: 17px;
      transition: 0.2s;
    }

    .link:hover {
      background: #ffffff;
    }
